body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calc {
    width: 510px;
    border: 4px solid black;
    background-color: black;
    height: 650px;
    align-self: center;
}

#display {
    display: flex;
    border: 1px solid darkgray;
    margin: 10px 10px 5px;
    padding: 2px;
    height: 150px;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: whitesmoke;
}

#niceWrap {
    display: flex;
    justify-content: center;
}

#nice {
    /* justify-content: flex-start; */
    align-self:flex-start;
    padding: 2px 125px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: black;
    border: 1px solid rgba(255, 140, 0, 0.229);
    border-radius: 25px;
    color: rgba(255, 140, 0, 0.229);;
    font-weight: bold;
}

#displayText {
    font-size: 70px;
}

#buttonArea {
    display: flex;
}

.topOps {
    display: flex;
}

.numRow {
    display: flex;
    flex-direction: row-reverse;
    /* flex-grow: 1; */ 
}

.num,
.topOp,
.operator {
    height: 85px;
    width: 122px;
    flex-shrink: 1;
    border: 1px solid black;
    font-size: 35px;
}

#buttonArea {
    border: 2px solid black;
    margin: 10px;
}

#zero {
    width: 244px;
}

.operator {
    background-color: rgb(227, 125, 0);
    color: white;
}

.topOp {
    background-color: lightgray;
}

.num {
    background-color: rgb(140, 138, 138);
    color: white;
}