body {
    font-family: 'Courier New', Courier, monospace;
}

#display {
    border: 1px solid darkgray;
    margin: 5px;
    padding: 2px;
}

.nums {
    border: 1px solid darkblue;
    margin: 5px;
    padding: 2px;
}

.operators {
    border: 1px solid darkgreen;
    margin: 5px;
    padding: 2px;
}

#clear {
    margin: 5px;
    padding: 2px;
}
#nice {
    margin: 5px;
    padding: 2px;
}